h1{
	@extend .titulos;
	text-shadow: 0 0 2px map-get($colores, azul);
}

//Página Quienes Somos
.textoQuienesSomos{
	background-color: map-get($colores, azul70);
	padding: 1em;
	line-height: 1.5em;
    border-radius: 0.25rem;
    max-width: 450px;
}

.iframeQuienesSomos {
	width: 450px;
	max-width: 100%;
	@media (min-width:576px) {
		width: 450px;
	}
}

//Página Obras
section.card{
	background-color: map-get($colores, azul70);
}

.imgObras{
	object-fit: cover;
	height: 20em;	
}

.titulosObras{
	@include font (1.4em, $weight400);
}

//Página Servicios
div.accordion {
	@media (min-width:576px) {
		width: 75%;
	}
	@media (min-width:992px) {
		width: 50%;
	}
}

div.accordion-item, button.accordion-button {
	background-color: map-get($colores, azul70);
}

.accordion-button:not(.collapsed) {
	background-color: map-get($colores, transparente)!important;
}

.titulosServicios{
	list-style: none;
	font-weight: $weight300;
}

.accordion-button::after, .accordion-button:not(.collapsed)::after { //para poner color blanco las flechitas de cada servicio
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");	
}


//Página Contacto
.form{
	padding: 1em;
	margin-bottom: 1em;
	background-color: map-get($colores, azul70);
	border: solid 1px map-get($colores, azul);
	border-radius: 0.25rem;
}

.button{
	color: map-get($colores, blanco);
	background-color: map-get($colores, azul70);
	border: map-get($colores, azul) 1px solid;
}

form a {
	text-decoration: none;
}

input.button:hover {
	color: map-get($colores, amarillo);
}

fieldset.form{
	h2{
		color: map-get($colores, amarillo);
		font-weight: $weight400;
	}
	h3{
		margin-top: 1em;
		text-align: left;
		@include font (1.2em, $weight400);
	}

}

.textColor{
	width: 100%;
	color: black;
}